.btn:hover {
	background-color: #FFFFFF;
}

#navbar_color{

	background-color: #21489E;
}

.navbar-default {
    background-color: rgb(77, 112, 182);
    border-color: #000

}

.navbar .nav > li {

  font-weight: 3px;
  font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 15px;
}

.navbar .nav > li > a {
  float: none;
  padding: 20px 15px 15px;
  color: #FFF;
  font-weight: 3px;
  font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 15px;
}

body #clickme{

	padding-left: 89.5%;
	padding-top: 1.5%;
}


body #main_header{

  text-align: center;
  color: rgb(77, 112, 182);
  font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
  border: solid 0px #002F8B;
  padding-top: 5%;
}

