<!DOCTYPE html>
<html>
<a id="tippytop"></a>
<!-- Header division -->

<div id="header">
	<a href="index.html"><h3 style="margin:0; color: white;">WATSON HOME</h3></a>
</div>
<!-- End header -->

<!-- Navbar division -->

<div id="headnav">
	<table style="width: 100%" cellspacing="2" cellpadding="2">

		<tr style="background-color: #E31B23;">

			<td style="width: 25%"><a href="labs.html">LABS</a></td>

			<td style="width: 25%"><a href="documentation.html">DOCUMENTATION</a></td>

			<td style="width: 25%"><a href="tutorials.html">TUTORIALS</a></td>

			<td style="width: 25%"><a href="about.html">ABOUT</a></td>

		</tr>

	</table>

</div><!-- End nav -->

<div id="chapnav">
	<table style="width: 100%" cellspacing="2" cellpadding="2">

		<tr style="background-color: #E31B23;">

			<td style="width: 15%"><a href="chapters.html">CHAPTERS</a></td>

			<td style="width: 5%"><a href="ch01.html">01</a></td>

			<td style="width: 5%"><a href="ch02.html">02</a></td>

			<td style="width: 5%"><a href="ch03.html">03</a></td>

			<td style="width: 5%"><a href="ch04.html">04</a></td>

			<td style="width: 5%"><a href="ch05.html">05</a></td>

			<td style="width: 5%"><a href="ch06.html">06</a></td>

			<td style="width: 5%"><a href="ch07.html">07</a></td>

			<td style="width: 5%"><a href="ch08.html">08</a></td>

			<td style="width: 5%"><a href="ch09.html">09</a></td>

			<td style="width: 5%"><a href="ch10.html">10</a></td>

			<td style="width: 5%"><a href="ch11.html">11</a></td>

			<td style="width: 5%"><a href="ch12.html">12</a></td>

			<td style="width: 5%"><a href="ch13.html">13</a></td>

			<td style="width: 5%"><a href="ch14.html">14</a></td>

			<td style="width: 5%"><a href="ch15.html">15</a></td>

		</tr>

	</table>

</div>
<!-- End nav -->
</html>
